<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-md-11">
                                <h4 class="card-title ">Productos de la tienda</h4>
                                <p class="card-category"> A continuación se muestran los productos de la tienda</p>
                            </div>
                            <div class="col-md-1">
                                <div class="text-right">
                                    <button mat-raised-button routerLink="/productos/add" matTooltip="Agregar producto" [matTooltipPosition]="'above'" class="btn btn-success btn-round btn-just-icon btn-lg">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class=" text-primary" >
                                    <th>
                                        Imagen
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Descripción
                                    </th>
                                    <th>
                                        Precio anterior
                                    </th>
                                    <th>
                                        Precio actual
                                    </th>
                                    <th>
                                        Stock
                                    </th>
                                    <th>
                                        Ventas
                                    </th>
<!--                                     <th>
                                        Oferta
                                    </th> -->
                                    <th>                                        
                                        Editar
                                    </th>
                                    <th>                                        
                                        Eliminar
                                    </th>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let producto of ListarProducto">
                                        <td>
                                            <img src="http://localhost:3000/api/products/public/{{producto.arch_multi}}" alt="" height="100" width="100">
                                        </td>
                                        <td>
                                            {{producto.nombre_prod}}
                                        </td>
                                        <td>
                                            {{producto.desc_prod}}
                                        </td>
                                        <td>
                                            {{producto.precio_prod_ant}}
                                        </td>
                                        <td>
                                            {{producto.precio_prod_act}}
                                        </td>
                                        <td>
                                            {{producto.stock_prod}}
                                        </td>
                                        <td>
                                            {{producto.cant_ventas}}
                                        </td>
<!--                                         <td>
                                            
                                        </td> -->
                                        <td class="justify-center">
                                            <button mat-raised-button (click)="modificarProducto(producto.id_prod)" type="button" matTooltip="Editar Producto" [matTooltipPosition]="'above'" class="btn btn-warning btn-just-icon btn-round">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                        <td>
                                            <button mat-raised-button (click)="eliminarProducto(producto.id_prod)" type="button" matTooltip="Eliminar Producto" [matTooltipPosition]="'above'" class="btn btn-danger btn-just-icon btn-round">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </div>
  