<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Listado de Pedidos</h4>
                        <p class="card-category"> Listado detallado de los pedidos de la tienda.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        RUT
                                    </th>
                                    <th>
                                        Courier
                                    </th>
                                    <th>
                                        Fecha de compra
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                    <th>
                                        Info
                                    </th>
                                    <th>
                                        Cambiar Estado
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pedido of MostrarPedidos">
                                        <td>
                                            {{pedido.id_orden}}
                                        </td>
                                        <td>
                                            {{pedido.rut_usuario}}
                                        </td>
                                        <td>
                                            {{pedido.nombre_courier}}
                                        </td>
                                        <td>
                                            {{pedido.fecha_compra | date:'medium'}}
                                        </td>
                                        <td>
                                            {{pedido.estado}}
                                        </td>
                                        <td>
                                            {{pedido.total}}
                                        </td>
                                        <td>
                                            <button mat-raised-button (click)="showInfo(pedido.id_orden)" type="button" matTooltip="Mostrar información del pedido" [matTooltipPosition]="'above'" class="btn btn-primary btn-round btn-just-icon">
                                                <i class="material-icons">info</i>
                                            </button>
                                        </td>
                                        <td>
                                            <button mat-raised-button (click)="editEstado(pedido)" type="button" matTooltip="Cambiar estado del pedido" [matTooltipPosition]="'above'" class="btn btn-primary btn-round btn-just-icon">
                                                <i class="material-icons">loop</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>